/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    
}

body {
   
    line-height: 1.6;
    color: #333; 
    
   
}

#background_product {
    background-color: #d9d9d9;

}

#background_landing {
  background: linear-gradient(108deg, #F2529D, #969696, #D2D8D9, #F23D5E);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

#background_product {
  background: linear-gradient(108deg, #F2529D, #969696, #D2D8D9, #F23D5E);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@keyframes AnimationName {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    top: 0;
}

/* PAGINA DE LANDING */

@font-face {
    font-family: Neue Regrade Extrabold;
    src: url('Fonts\Neue Regrade Extrabold.otf');
}

.coming_soon {
    position: relative;
    font-family: Neue Regrade Extrabold;
    width: 100%;
    font-size: 32px;
    margin-top: 35px;
    color: #FF002A; /* Puedes cambiar el color del texto */
    animation: parpadeo 0.8s infinite; /* Duración y repetición infinita */
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.img-fondo {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.synkit {
    position: relative;
    z-index: 2;
    width: 100%;
}

#banner1 {
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
}

#banner1 h1 {
    font-size: 7em;
    font-family: Neue Regrade Extrabold;
    color: #FF002A;
}

#banner1 p {
    position: relative;
    padding-left: 1em;
    font-size: 24px;
    text-align: justify;
    margin-top: 30px;
    color: #000000;
}

#banner1 div div div {
    display: flex;
    flex-direction: row;
    justify-content:center
}

.container {
    margin: 0 auto;
}

.faq {
  font-size: 7em;
  font-family: Neue Regrade Extrabold;
  color: #FF002A;
}

.textoFaq {
  position: relative;
  padding-left: 1em;
  font-size: 24px;
  text-align: justify;
  margin-top: 30px;
  color: #000000;
}

.logoPequeno {
  width: 20em;
  margin-top: 5em;
  transform-style: preserve-3d;
  animation: rotar3D 3s linear infinite;
}

@keyframes rotar3D {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

/* PAGINA DE PRODUCTO ////////////*/





/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */

.logo_product {
    width: 100px;
    height: auto;
}

.logo_product, img {
   width: 10em;
}

/* HEADER STYLES */

.container_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.7em 0em 0.7em;
    
    
}

/* MENU PRODUCTO */

.aside-mobile {
    width: 220px;
    position: fixed;
    box-sizing: border-box;
    padding: 10px 0;
    height: 100%;
    top: 0;
    left: -220px;
    z-index: 3;
    background: #000000;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
 }
 
 .aside-mobile .cont-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
 }
 
 /* .aside-mobile h2 {
    color: #0f9;
    font-size: 35px;
    padding: 0 0 0 20px;
    line-height: 100%;
    margin: 5px 0;
 } */
 
 .aside-mobile ul {
    display: block;
    box-sizing: border-box;
    padding: 0 0 0 20px;
 }
 
 .aside-mobile ul li {
    display: block;
 }
 
 .aside-mobile ul li a {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 1.2vw;
    color: #FF002A;
    text-transform: uppercase;
    padding: 1vw 0;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
 }
 
 .aside-mobile ul li a:hover {
    color: #9f0;
 }
 
 .aside-mobile .ico-seccion {
    width: 24px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -24px;
    z-index: 2;
    margin: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
 }
 
 .aside-mobile .ico-seccion:hover {
    transform: scale(1.2);
 }
 
 .aside-mobile .ico-seccion .circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: #FF002A;
 }
 
 .aside-mobile #btn-menu-lateral {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
 }
 
 .contenido {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
 }
 
 .indicaciones {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
 }
 
  #title_product_texture {
    display: flex;
    align-items: flex-end;
    margin: 2vw 0 4vw 0;
  }

  #flip_product {
    height:50px;
    overflow:hidden;
    margin: 0 0 0 2vw;
  }
  
  #flip_product > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip_product div:first-child {
    animation: show 5s linear infinite;
  }

  #title_product_texture > #flip_product > div > div > .img_arrow_texture {
    width: 2rem;
  }
  

p {
    position:fixed;
    width:100%;
    bottom:30px;
    font-size:12px;
    color:#999;
    margin-top:200px;
    
  }

  nav {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  nav a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
  }


/* HERO SECTION STYLES MENU */

  #title_product_texture > .arrow_title_productt {
      font-size: 2rem;
  }

  #title_product_texture > .title_menu_product {
      font-size: clamp(1.8rem, 9vw, 5rem);
      font-weight: bold;
      margin: 0.7rem 0 0 0;
      font-family: Neue Regrade Extrabold; 
  }



/* PRODUCTS SECTION STYLES */

  .container_section_product {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      
  }

  .container_section_product > .row > .card_product {
      border: 2px solid #c7c7c7;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2em;
      margin-top: 0rem;
  }

/* .card_product {
   
    
} */

.container_section_product > .row 
> .card_product > .img_product {
    width: 80%;
}

.container_section_product > .row 
> .card_product > .product_info > h3 {
    font-size: 1.5vw;
    color: #FF002A;
    font-size: clamp(1rem, 1vw, 5rem);
    

}


/* PRODUCTO PDP */


#title_pdp {
    display: flex;
    align-items: flex-end;
    margin: 2vw 0 4vw 0;
}

  #flip_pdp {
    height:50px;
    overflow:hidden;
    /* width: 5rem; */
    margin: 0 0 0 2vw;
  }
  
  #flip_pdp > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip_pdp div:first-child {
    animation: show 5s linear infinite;
  }

  #title_pdp > #flip_pdp > div > div > .img_arrow_pdp {
    width: 2rem;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 50px;
 }

 #title_pdp > .title_menu_pdp {
    font-size: clamp(1.8rem, 9vw, 5rem);
    font-weight: bold;
    margin: 1vh 0 0 2vh;
    font-family: Neue Regrade Extrabold;
    animation: colorBlink 2s ease-in-out infinite; /* Animación en bucle */ }

    @keyframes colorBlink {
      0%, 100% {
          color: black; /* Color inicial */
      }
      50% {
          color: red; /* Color intermedio */
      }
  }

  
/* LIBRERIA PDP FotoSwipe */


  /* PDP INFORMACIÓN */


  .gallery {
    display: flex;
    align-items: flex-start;
  }
  
  .images-container {
    border: 2px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin-top: 0rem;
}
  
  
  .main-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 0.2rem;
  }
  
  .thumbnail:hover {
    transform: scale(1.1);
  }
  
  .info_pdp {
    max-width: 50vw;
    border: 2px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em; 
    margin-top: 0rem;
    margin-top: 0 !important;
  }
  .info_pdp > h2 {
    font-size: 1.7rem;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  
  .modal-content {
    position: relative;
    max-width: 90%;
    text-align: center;
    background-color: transparent !important;
    display: flex;
    align-items: center;
  }
  
  .modal-content img {
    width: 50%;
    height: auto;
  }

  .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
  
  .close {
    position: absolute;
    /* top: 12vw; */
    right: 30px;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  
  .carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 32px;
    user-select: none;
    padding: 0 20px;
  }
  
  .carousel-control.left {
    left: 20px;
  }
  
  .carousel-control.right {
    right: 20px;
  }
  
  
/* FOOTER */

footer {
    background-color: black;
    padding: 1rem;
    margin: 10VW 0 0 0;
}

.footer_product > .footer_product_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_product >.footer_product_box >
.footer_icons > .footer_icons_box  {
   width: 3rem;
   display: flex;
   align-items: center;
   
}

.footer_product >.footer_product_box >
.footer_icons > .footer_icons_box > .img_icon_product  {
   width: 2em;
   margin: 0 1rem 0 1rem;
}

.footer_product >.footer_product_box > .footer_contact_product > h3  {
    font-size: 1rem;
    color: #FF002A;
 }


@media (min-width: 992px) {
    .g-lg-3, .gx-lg-3 {
        --bs-gutter-x: 0rem;
    }

    .g-2, .gy-2 {
    --bs-gutter-y: 0rem; 
    }
.g-2, .gx-2 {
    --bs-gutter-x: 0rem; 
}
}
/* Media Queries */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .coming-soon {
        flex-direction: column;
        align-items: center;
    }
    
    .features ul {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }
    .info_pdp {
      margin-top: 0; /* margen específico solo para pantallas grandes */
  }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }
    
    .hero p {
        font-size: 1rem;
    }
    
    .features h2 {
        font-size: 2rem;
    }
    
    .contact p {
        font-size: 1.5rem;
    }
    
    .social-media {
        gap: 1rem;
    }

    .info_pdp h2 {
      font-size: 1.2rem; /* Ajuste en pantallas móviles */
  }
}



/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero, .features, .contact {
    animation: fadeIn 1s ease-out;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-160px;}
    33% {margin-top:-160px;}
    38% {margin-top:-75px;}
    66% {margin-top:-75px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }

